<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AUTOMARKET_catalog</title>
    <link rel="stylesheet" href="/static/mainapp/style.css">
</head>

<body>
<div class="container">
        <meta charset="UTF-8">
        <div class="header">
<h1><img id="logo_img" src="/static/mainapp/images/head_icon.png" alt="" align="">Каталог</h1>

<ul id = menu_shop>
    <li><a href="/index"><img src="/static/mainapp/images/head_icon.png" class="menu_image" alt="cars">Главная</a></li>
    <li><a href="/contacts"><img src="/static/mainapp/images/contacts.png" class="menu_image" alt="contacts">Контакты</a></li>
    <li><a href="/LoginPage"><img src="/static/mainapp/images/login.png" class="menu_image" alt="login">Личный кабинет</a></li>
</ul>
        </div>
<hr>

    <div class="catalog-productsWrap">
        <div class="catalog-productUnit">
            <div class="nice_text_catalog">
                Ford_GT 2017
            </div>
            <div class="catalog-productUnitImg">
                <img  class="borders" src="/static/mainapp/images/fordGT-catalog.jpeg" alt="Ford_GT">
            </div>
            <div class="nice_text_catalog">
                short description
            </div>
            <div class="nice_text_catalog">
                Цена уточняется
            </div>
            <a href="/static/mainapp/Cars/Ford_GT.html" class="nice_text_catalog">
                Подробнее
            </a><br><br>
        </div>

        <div class="catalog-productUnit">
            <div class="nice_text_catalog">
                Mercedes-Benz S-Class Sedan
            </div>
            <div class="catalog-productUnitImg">
                <img id='width2' class="borders" src="/static/mainapp/images/S-class1-catalog.jpg" alt="S-class">
            </div>
            <div class="nice_text_catalog">
                short description
            </div>
            <div class="nice_text_catalog">
                Цена уточняется
            </div>
            <a href="/static/mainapp/Cars/S-class.html" class="nice_text_catalog">
                Подробнее
            </a><br><br>
        </div>
        <div class="catalog-productUnit">
            <div class="nice_text_catalog">
                Mercedes-Benz E-Class Sedan
            </div>
            <div class="catalog-productUnitImg">
                <img id='width3' class="borders" src="/static/mainapp/images/E-class1-catalog.jpg" alt="E-class">
            </div>
            <div class="nice_text_catalog">
                short description
            </div>
            <div class="nice_text_catalog">
                Цена уточняется
            </div>
            <a href="/static/mainapp/Cars/E-class.html" class="nice_text_catalog">
                Подробнее
            </a><br><br>
        </div>
        <div class="catalog-productUnit">
            <div class="nice_text_catalog">
                Mercedes-Benz SL-Roadster
            </div>
            <div class="catalog-productUnitImg">
                <img  class="borders" src="/static/mainapp/images/SL_Roadster1-copy.jpg"  alt="SL_Roadster">
            </div>
            <div class="nice_text_catalog">
                short description
            </div>
            <div class="nice_text_catalog">
                Цена уточняется
            </div>
            <a href="/static/mainapp/Cars/SL-roadster.html" class="nice_text_catalog">
                Подробнее
            </a><br><br>
        </div>
        <div class="catalog-productUnit">
            <div class="nice_text_catalog">
                Honda Accord
            </div>
            <div class="catalog-productUnitImg">
                <img id='width1' class="borders" src="/static/mainapp/images/Accord1-copy.jpg" alt="Accord">
            </div>
            <div class="nice_text_catalog">
                short description
            </div>
            <div class="nice_text_catalog">
                Цена уточняется
            </div>
            <a href="/static/mainapp/Cars/Accord.html" class="nice_text_catalog">
            <a href="/static/mainapp/Cars/Accord.html" class="nice_text_catalog">
                Подробнее
            </a><br><br>
        </div>
        <div class="catalog-productUnit">
            <a class="nice_text_catalog">Ожидается пополнение..</a><br><br>
        </div>
    </div>



    <hr>
<div class="footer">
    &copy;   Все права защищены
</div>
</div>
</body>
</html>