<!doctype html>
<html>
<head>
    <meta charset="UTF­8">
    <title>AutoMarket</title>
    <link rel="stylesheet" type="text/css" href="/static/mainapp/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/mainapp/packages/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body>
<header>
    <meta charset="UTF-8">
    <div class="header_inside">
        AutoMarket
        <div class="Welcome">
            <div class="Hello">
                AutoMarket приветствует тебя!
            </div>
            <div class="Hello_add">
                Лучший сайт для выбора автомобиля
            </div>
        </div>
        <div class="header_social">
            <a href="#" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fa fa-pinterest-p"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
</header>
<main>
    <div class ="main_container">
        <div class="catalog-product">
            <ul class = "menu_list">
                <li><a href="/index">
                    <img src="/static/mainapp/images/head_icon.png" class="menu_image" alt="index">
                    Каталог</a></li>
                <li><a href="/contacts">
                    <img src="/static/mainapp/images/contacts.png" class="menu_image" alt="contacts">
                    Контакты
                </a></li>
                <li><a href="/LoginPage">
                    <img src="/static/mainapp/images/login.png" class="menu_image" alt="login">
                    Личный кабинет
                </a></li>
            </ul></div>

        <div class="b_under_menu_wrap">
            <div class="b_under_menu">
                Теперь<br>
                мы<br>
                открыты!
            </div>
        </div>
        <div class="right_main">


            <!--<div class="header_products">-->
                <!--Каталог-->
            <!--</div>-->
            <!--<div class="products_wrap">-->

                <!--<div class="product_unit">-->
                    <!--<img src="images/E-class1-catalog.jpg" alt="E-class">-->
                    <!--<div class="product_name">-->
                        <!--<a href="Cars/E-class.html">Mercedes-Benz E-class</a>-->
                    <!--</div>-->
                    <!--<div class="product_price">-->
                        <!--&euro; 1000.00<br>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="product_unit">-->
                    <!--<img src="images/SL_Roadster1-copy.jpg" alt="SL-Roadster">-->
                    <!--<div class="product_name">-->
                        <!--<a href="Cars/SL-roadster.html">Mercedes-Benz SL-Roadster</a>-->
                    <!--</div>-->
                    <!--<div class="product_price">-->
                        <!--&euro; 1000.00<br>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="product_unit">-->
                    <!--<img src="images/S-class1-catalog.jpg" alt="S-class">-->
                    <!--<div class="product_name">-->
                        <!--<a href="Cars/S-class.html">Mercedes-Benz S-class</a>-->
                    <!--</div>-->
                    <!--<div class="product_price">-->
                        <!--&euro; 1000.00<br>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="product_unit">-->
                    <!--<img src="images/fordGT-catalog.jpeg" alt="Ford_GT">-->
                    <!--<div class="product_name">-->
                        <!--<a href="Cars/Ford_GT.html">Ford GT</a>-->
                    <!--</div>-->
                    <!--<div class="product_price">-->
                        <!--&euro; 1000.00<br>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="product_unit">-->
                    <!--<img src="images/Accord1-copy.jpg" alt="Accord">-->
                    <!--<div class="product_name">-->
                        <!--<a href="Cars/Accord.html">Honda Accord</a>-->
                    <!--</div>-->
                    <!--<div class="product_price">-->
                        <!--&euro; 1000.00<br>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <h2>
                <b> Напишите нам!</b>
            </h2>

            <form action="post">
                <fieldset>
                    <legend>Ваши контактные данные</legend>
                    <input class="fields" type="text" placeholder="Ваше Имя"><br>
                    <input id="email_input" type="text" size="25" placeholder="Ваш e-mail"><br>
                    <input class="fields" type="text" placeholder="Ваш номер телефона"><br>
                    <br>
                    <select class="fields">
                        <option>вопрос по заказу</option>
                        <option>предложение</option>
                    </select>
                    <br>
                    <br>
                    <textarea class="text_input" placeholder="Текст вашего обращения"></textarea><br>
                    <input type="submit" value="Отправить">
                </fieldset>
            </form>

            <h2>
                <b> Наш адрес: </b>
            </h2>
            <a>
                Москва, Чертановская улица, 45А.
            </a>
            <a><b>Индекс:</b> 117570</a>
            <a><b>Телефон:</b> +7(999)929-92-92</a>
            <a><b>Email:</b> info@automarket.ru</a>
            <a>Схема прохода: </a>
            <br>
            <br>

            <!--<a id="map" href="https://yandex.ru/maps/?um=constructor%3Ab93971d2bcd07340fab028fafd47a4bf1b91b75e7a0dba5680efe4e360764590&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3Ab93971d2bcd07340fab028fafd47a4bf1b91b75e7a0dba5680efe4e360764590&amp;width=600&amp;height=450&amp;lang=ru_RU" alt="" style="border: 0;" /></a>-->
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab93971d2bcd07340fab028fafd47a4bf1b91b75e7a0dba5680efe4e360764590&amp;width=100%25&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>




        </div>
    </div>
</main>


<footer>
    <div class="footer_container">
        <div class="footer_unit">
            <div class="footer_unit_head">
                Категории
            </div>
            <div class="footer_unit_links">
                <a href="/index">Главная</a>
                <a href="/contacts">Контакты</a>
                <a href="/LoginPage">Личный кабинет</a>
            </div>
        </div>

        <div class="footer_unit">
            <div class="footer_unit_head">
                Поддержка
            </div>
            <div class="footer_unit_links">
                <a href="/index">Карта сайта</a>
                <a href="/contacts">Напишите нам</a>
            </div>
        </div>

        <div class="footer_unit_newsletter_unit">
            <div class="footer_unit_head">
                Новостная рассылка
            </div>
            <div class="footer_unit_newsletter_text">
                Подпишись на наши новости и акции
            </div>

            <input type="text" placeholder="INSERT EMAIL">
            <button>
                Подписаться
            </button>
        </div>


        <div class="footer_about_us_unit">
            <div class="footer_unit_head">
                О нас:
            </div>
            <div class="footer_about_us_text">
                Лучший сайт про автомобили
            </div>
            <div class="footer_phone_label">
                Телефон:
            </div>
            <div class="footer_phone">
                7-999-342-2442
            </div>
            <div class="footer_email_label">
                E-mail:
            </div>
            <div class="footer_email">
                info@automarket.com
            </div>
        </div>
    </div>
    <div class="copyrights_wrap">
        <div class="copyrights">
            &copy; 2018 AUTOMARKET. Все права защищены
        </div>
    </div>
</footer>
</body>
</html>