{% extends 'master.html' %}

{% load static %}

{% block page_title %}
AutoMarket
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'mainapp/style.css' %}">
{% endblock %}

{% block page_content %}


        <div class="right_main">
            <div class="header_products">
                {{ title }}
            </div>
            <div class="products_wrap">

                <div class="product_unit">
                    <img src="/static/mainapp/images/E-class1-catalog.jpg" alt="E-class">
                    <div class="product_name">
                       <a href="/static/mainapp/Cars/E-class.html">Mercedes-Benz E-class</a>
                    </div>
                    <div class="product_price">
                        &euro; 1000.00<br>
                    </div>
                </div>
                <div class="product_unit">
                    <img src="/static/mainapp/images/SL_Roadster1-copy.jpg" alt="SL-Roadster">
                    <div class="product_name">
                        <a href="/static/mainapp/Cars/SL-roadster.html">Mercedes-Benz SL-Roadster</a>
                    </div>
                    <div class="product_price">
                        &euro; 1000.00<br>
                    </div>
                </div>
                <div class="product_unit">
                    <img src="/static/mainapp/images/S-class1-catalog.jpg" alt="S-class">
                    <div class="product_name">
                        <a href="/static/mainapp/Cars/S-class.html">Mercedes-Benz S-class</a>
                    </div>
                    <div class="product_price">
                        &euro; 1000.00<br>
                    </div>
                </div>
                <div class="product_unit">
                    <img src="/static/mainapp/images/fordGT-catalog.jpeg" alt="Ford_GT">
                    <div class="product_name">
                        <a href="/static/mainapp/Cars/Ford_GT.html">Ford GT</a>
                    </div>
                    <div class="product_price">
                        &euro; 1000.00<br>
                    </div>
                </div>
                <div class="product_unit">
                    <img src="/static/mainapp/images/Accord1-copy.jpg" alt="Accord">
                    <div class="product_name">
                        <a href="/static/mainapp/Cars/Accord.html">Honda Accord</a>
                    </div>
                    <div class="product_price">
                        &euro; 1000.00<br>
                    </div>
                </div>
                <div class="product_unit">

                    <div class="product_name">
                        <a href="products/list/">список</a>
                    </div>

                </div>
            </div>
        </div>

{% endblock %}