<!--<div ​class​="​category​-​products​ ​clearfix​">-->
                   <!--{% for​ obj ​in​ ​products​ %}-->
                        <!--<div class="block">-->
                            <!--<a href="{% ​url​ '​basket​:add​' obj.pk %}">-->
                                <!--<img src="/media/{{ itm.image }}" alt="{{ itm.short_desc }}">-->
                                <!--<div class="text">-->
                                    <!--<img src="{% static '​img/icon-hover.png​' %}" alt="hover">-->
                                    <!--<h4>{{ obj.name }}</h4>-->
                                    <!--<p>{{ obj.description }} </p>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--{% endfor %}-->
                                <!--</div>-->
