
{% extends 'master.html' %}

{% block page_title %}
AutoMarket
{% endblock %}



{% block page_content %}


        <div class="right_main">
            <div class="header_products">
                {{ title }}
            </div>
            <div class="products_wrap">
                <div class="product_unit">

                    <ul class="pagination">
                    {% if products.has_previous %}
                    <li class="pagination__link_prev">
                        <a href="?page={{ products.previous_page_number }}">
                            Previous
                        </a>
                    </li>
                    {% endif %}
                    {% for num in products.paginator.page_range %}
                    <li class="pagination__link_page">
                        <a href="?page={{ num }}">
                            {{ num }}
                        </a>
                    </li>
                    {% endfor %}
                    {% if products.has_next %}
                    <li class="pagination__link_next">
                        <a href="?page={{ products.next_page_number }}">
                            Next
                        </a>
                    </li>
                    {% endif %}
                    </ul>


                    <ul>
                        {% for itm in products %}
                            {% include 'products/components/item.html' with image=itm.image count=itm.id name=itm %}
                        {% endfor %}
                    <a href="{% url 'mainapp:contacts' %}">
                                Contacts
                    </a>
                    </ul>
                </div>
            </div>
        </div>

{% endblock %}
<!--</body>-->
<!--</html>-->